.menu {
    height:100vh;
    background:#f00;
    color:#fff;
    float: left;
    position: absolute;
    left: 0%;
}

.menu-button {
    width: 34px;
}



.content {
    height:100vh;
    background:yellow;
    color:black;
    float: right;
}

#menu {
  position: absolute;
  top: 100px;
  left: 100px; 
  animation: move 1s ease infinite;
}

@keyframes move {
  50% {
     transform: translate(100px, 100px);
  }
}