.css-filter-blur { margin: 10px;
  -webkit-transition: all 5.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
      -ms-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}

.sub-logo {
  stroke: $yellow-color;
}

$duration: 0.01s;
$durationLong: 3s;
$duration-glow: 0.5s;

.delay {
  animation-delay: $duration;
  animation-name: glow-two;
  animation-duration: 0.1s;

  -moz-animation-delay: $duration;
  -moz-animation-name: glow-two;
  -moz-animation-duration: 0.1s;

  -webkit-animation-delay: $duration;
  -webkit-animation-name: glow-two;
  -webkit-animation-duration: 0.1s;
}

@keyframes glow-two {
  to {fill: $yellow-color;}
}

@-webkit-keyframes glow-two {
  to {fill: $yellow-color;}
}

@-moz-keyframes glow-two {
  to {fill: $yellow-color;}
}

.delayLong {
  animation-delay: $durationLong;
  animation-name: glow-two;
  animation-duration: 0.1s;

  -moz-animation-delay: $durationLong;
  -moz-animation-name: glow-two;
  -moz-animation-duration: 0.1s;

  -webkit-animation-delay: $durationLong;
  -webkit-animation-name: glow-two;
  -webkit-animation-duration: 0.1s;
}

.delay1 {
  animation-delay: $duration;
  animation-name: glow-two;
  animation-duration: 0.1s;

  -moz-animation-delay: $duration;
  -moz-animation-name: glow-two;
  -moz-animation-duration: 0.1s;

  -webkit-animation-delay: $duration;
  -webkit-animation-name: glow-two;
  -webkit-animation-duration: 0.1s;
}

.bulb {
  stroke: inherit;
  animation-name: glow-blue;
  animation-duration: 0.2s;
  animation-iteration-count: 2;

  -moz-animation-name: glow-blue;
  -moz-animation-duration: 0.2s;
  -moz-animation-iteration-count: 2;

  -webkit-animation-name: glow-blue;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 2;

}

@keyframes glow-blue {
  from {stroke: black;}
  to { stroke: hsl(255, 255, 255); }
}

@-webkit-keyframes glow-blue {
  from {stroke: black;}
  to { stroke: hsl(255, 255, 255); }
}

@-moz-keyframes glow-blue {
  from {stroke: black;}
  to { stroke: hsl(255, 255, 255); }
}
